<div class="layout">
  <app-patients [patients]="patients" (selectPatient)='selectPatient($event)'
    (editedPatient)="editPatient($event)" (createNewPatient)="createNewPatient()"
    (deletedPatient)="deletedPatient($event)"
  ></app-patients>
  <div>
    <app-show-patient [patient]="this.selectedPatient"></app-show-patient>
    <app-add-patient *ngIf="editedPatient" [patient]="this.editedPatient"
      (patientCreated)="patientCreated($event)" (patientUpdated)="patientUpdated($event)"
    ></app-add-patient>
  </div>
</div>
