<p>Patient Form</p>
<form [formGroup]="patientForm" (ngSubmit)="saveForm()">
  <label for="">First Name</label>
  <input type="text" FormControlName="first_name">
  <br>
  <label for="">Last Name</label>
  <input type="text" FormControlName='last_name'>
  <br>
  <label for="">Sex</label>
  <input type="text" FormControlName='sex_at_birth'>
  <br>
  <label for="">Birth</label>
  <input type="date" FormControlName='birth_date'>
  <br>
  <label for="">email</label>
  <input type="email" FormControlName='email'>
  <br>
  <label for="">notes</label>
  <textarea name="" id="" cols="30" rows="10" maxlength="400" FormControlName='notes'></textarea>
  <br>
  <button type="submit">Submit</button>
</form>