<!-- <p>Add a patient</p>
<form action="">
  <label for="">First Name</label>
  <input type="text" [(ngModel)] = createdPatient.first_name name="first_name">
  <br>
  <label for="">Last Name</label>
  <input type="text" [(ngModel)] = createdPatient.last_name name='last_name'>
  <br>
  <label for="">Sex</label>
  <input type="text" [(ngModel)] = createdPatient.sex_at_birth name='sex_at_birth'>
  <br>
  <label for="">Birth</label>
  <input type="date" [(ngModel)] = createdPatient.birth_date name='birth_date'>
  <br>
  <label for="">email</label>
  <input type="email" [(ngModel)] = createdPatient.email name='email'>
  <br>
  <label for="">notes</label>
  <textarea name="" id="" cols="30" rows="10" maxlength="400" [(ngModel)] = createdPatient.notes name='notes'></textarea>
  <br>
  <button (click)="addPatient()">Submit</button>
</form> -->