<div class="container">
  <div class="row">
    <h1>List of Patients</h1>
    <button routerLink='create'>Add Patient</button>
    <ul *ngFor="let patient of patients">
      <li>
        <h2>Name: <a (click)="patientClicked(patient)" routerLink="show">{{patient.first_name | titlecase}} {{patient.last_name |titlecase}}</a></h2>
        <h3>Birth: {{patient.birth_date}}</h3>
        <h3>Sex: {{patient.sex_at_birth|titlecase}}</h3>
        <h3>email: {{patient.email}}</h3>
        <h3>notes: {{patient.notes}}</h3>
      </li>
    </ul>
  </div>
  <div class="row">
    <p>Add a patient</p>
    <form #myForm='ngForm'action="">
      <label for="">First Name</label>
      <input type="text" [(ngModel)]=createdPatient.first_name name="first_name">
      <br>
      <label for="">Last Name</label>
      <input type="text" [(ngModel)]=createdPatient.last_name name='last_name'>
      <br>
      <label for="">Sex</label>
      <input type="radio" [(ngModel)]=createdPatient.sex_at_birth name='sex_at_birth' value="Male">
      <label for="Male">Male</label>
      <input type="radio" [(ngModel)]=createdPatient.sex_at_birth name='sex_at_birth' value="Female">
      <label for="Female">Female</label>
      <br>
      <label for="">Birth</label>
      <input type="date" [(ngModel)]=createdPatient.birth_date name='birth_date'>
      <br>
      <label for="">email</label>
      <input type="email" [(ngModel)]=createdPatient.email name='email'>
      <br>
      <label for="">notes</label>
      <textarea name="" id="" cols="30" rows="10" maxlength="400" [(ngModel)]=createdPatient.notes name='notes'></textarea>
      <br>
      <button (click)="addPatient(); myForm.reset()">Submit</button>
    </form>
  </div>
</div>